<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
    </head>
    <body>
     <form action="/registraMedico" method="POST">  
     <div>  
        <div>
            <label>Username</label> <br>
            <input type="text" id="user" name="user">
        </div>

        <div>
            <label>Password</label> <br>
            <input type="text" id="pw" name="pw">
        </div>
    
    
        <div>
            <label>Nome</label> <br>
            <input type="text" id="nome" name="nome">
        </div>
    
        <div>
            <label>Cognome</label> <br>
            <input type="text" id="cognome" name="cognome">
        </div>

        <div>
            <label>Codice Fiscale</label> <br>
            <input type="text" id="cf" name="cf">
        </div>

        <div>
            <label>Altro</label> <br>
            <input type="text" id="altro" name="altro"> 
           
        </div>

       <div>
           <input type="submit" value="Invia">
       </div> 

    </div>
    </body>
</html>